*.a filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
Runtime/Scripts/Proto/* linguist-generated=true
Runtime/Plugins/Google.Protobuf.dll filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/System.Runtime.CompilerServices.Unsafe.dll filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-windows-arm64/livekit_ffi.dll filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-windows-x86_64/livekit_ffi.dll filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-armv7/liblivekit_ffi.so filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-x86_64/liblivekit_ffi.so filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-linux-arm64/liblivekit_ffi.so filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-linux-x86_64/liblivekit_ffi.so filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-arm64/liblivekit_ffi.so filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-macos-x86_64/liblivekit_ffi.dylib filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-macos-arm64/liblivekit_ffi.dylib filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-arm64/libwebrtc.jar filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-armv7/libwebrtc.jar filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-android-x86_64/libwebrtc.jar filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-ios-arm64/liblivekit_ffi.a filter=lfs diff=lfs merge=lfs -text
Runtime/Plugins/ffi-ios-sim-arm64/liblivekit_ffi.a filter=lfs diff=lfs merge=lfs -text
