name: CI
permissions:
  contents: read
  actions: read
  packages: read
  statuses: write
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Test (${{ matrix.unityVersion }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        unityVersion: [6000.1.2f1]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      # Required when using package mode, see open issue:
      # https://github.com/game-ci/unity-test-runner/issues/223
      - name: Move Into Subdirectory
        shell: bash
        run: |
          mkdir root
          shopt -s dotglob extglob
          mv !(root) root/
      # Required for E2E tests
      - name: Install LiveKit Server
        run: curl -sSL https://get.livekit.io | bash
      - name: Run LiveKit Server
        run: livekit-server --dev &
      - name: Run Tests
        uses: game-ci/unity-test-runner@v4
        id: testRunner
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: root
          unityVersion: ${{ matrix.unityVersion }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          checkName: Test Results (${{ matrix.unityVersion }})
          packageMode: true
          useHostNetwork: true
      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: Test results (${{ matrix.unityVersion }})
          path: ${{ steps.testRunner.outputs.artifactsPath }}
  # For platforms with build support on Linux
  build-linux:
   env:
      UNITY_PROJECT_PATH: Samples~/Basic
   name: Build (${{ matrix.targetPlatform }}, ${{ matrix.unityVersion }})
   runs-on: ubuntu-latest
   timeout-minutes: 10
   strategy:
      fail-fast: false
      matrix:
        unityVersion: [6000.1.2f1]
        targetPlatform: [iOS, Android, StandaloneLinux64]
   steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
         lfs: true
     - uses: actions/cache@v3
       with:
         path: ${{ env.UNITY_PROJECT_PATH }}/Library
         key: Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-${{ hashFiles(env.UNITY_PROJECT_PATH) }}
         restore-keys: |
           Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-
           Library-${{ env.UNITY_PROJECT_PATH }}-
           Library-
     # Android build requires more disk space than other platforms
     # Solution: clear disk space first
     - name: Free Disk Space
       if: matrix.targetPlatform == 'Android'
       uses: jlumbroso/free-disk-space@v1.3.1
     - name: Build
       uses: game-ci/unity-builder@v4
       env:
         UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
         UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
         UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
       with:
         projectPath: ${{ env.UNITY_PROJECT_PATH }}
         unityVersion: ${{ matrix.unityVersion }}
         targetPlatform: ${{ matrix.targetPlatform }}
     - name: Upload Build
       uses: actions/upload-artifact@v4
       with:
        name: Build (${{ matrix.targetPlatform }})
        path: build/${{ matrix.targetPlatform }}
        retention-days: 1
  # For platforms with build support on Windows
  build-windows:
   env:
      UNITY_PROJECT_PATH: Samples~/Basic
   name: Build (${{ matrix.targetPlatform }}, ${{ matrix.unityVersion }})
   runs-on: windows-latest
   timeout-minutes: 10
   strategy:
      fail-fast: false
      matrix:
        unityVersion: [6000.1.2f1]
        targetPlatform: [StandaloneWindows64]
   steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
         lfs: true
     - uses: actions/cache@v3
       with:
         path: ${{ env.UNITY_PROJECT_PATH }}/Library
         key: Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-${{ hashFiles(env.UNITY_PROJECT_PATH) }}
         restore-keys: |
           Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-
           Library-${{ env.UNITY_PROJECT_PATH }}-
           Library-
     - name: Build
       uses: game-ci/unity-builder@v4
       env:
         UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
         UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
         UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
       with:
         projectPath: ${{ env.UNITY_PROJECT_PATH }}
         unityVersion: ${{ matrix.unityVersion }}
         targetPlatform: ${{ matrix.targetPlatform }}
     - name: Upload Build
       uses: actions/upload-artifact@v4
       with:
        name: Build (${{ matrix.targetPlatform }})
        path: build/${{ matrix.targetPlatform }}
        retention-days: 1
  # For platforms with build support on MacOS
  build-macos:
   env:
      UNITY_PROJECT_PATH: Samples~/Basic
   name: Build (${{ matrix.targetPlatform }}, ${{ matrix.unityVersion }})
   runs-on: macos-latest
   timeout-minutes: 10
   strategy:
      fail-fast: false
      matrix:
        unityVersion: [6000.1.2f1]
        targetPlatform: [StandaloneOSX]
   steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
         lfs: true
     - uses: actions/cache@v3
       with:
         path: ${{ env.UNITY_PROJECT_PATH }}/Library
         key: Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-${{ hashFiles(env.UNITY_PROJECT_PATH) }}
         restore-keys: |
           Library-${{ env.UNITY_PROJECT_PATH }}-${{ matrix.targetPlatform }}-
           Library-${{ env.UNITY_PROJECT_PATH }}-
           Library-
     - name: Build
       uses: game-ci/unity-builder@v4
       env:
         UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
         UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
         UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
       with:
         projectPath: ${{ env.UNITY_PROJECT_PATH }}
         unityVersion: ${{ matrix.unityVersion }}
         targetPlatform: ${{ matrix.targetPlatform }}
     - name: Upload Build
       uses: actions/upload-artifact@v4
       with:
        name: Build (${{ matrix.targetPlatform }})
        path: build/${{ matrix.targetPlatform }}
        retention-days: 1